# ===============================
# Visual Studio / Visual Studio 2026
# ===============================
.vs/
*.slnx
*.user
*.suo
*.userosscache
*.sln.docstates

# ===============================
# .NET build output
# ===============================
bin/
obj/

# ===============================
# OS / tooling noise
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# =========================
# Frontend (React / Vite)
# =========================
ui/node_modules
ui/dist
ui/.vite
ui/.env
ui/npm-debug.log*
